# Local files
credentials/
data/

# Virtual environments
venv/

# Jupyter Notebook
.ipynb_checkpoints

# Miscellaneous
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class